{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Welcome to <strong>{{ .Site.Params.author }}</strong>.</h3>
        <h3> A local chapter of R-Ladies Global, R-Ladies Seattle exists to promote diversity in the R community, both in the US and worldwide. We are pro-actively inclusive of queer, trans, and all minority identities, with additional sensitivity to intersectional identities (which many lead R-Ladies are) - our priority is to provide a safe community space for anyone identifying as a minority gender who is interested in and/or working with R. As a founding principle, there is no cost or charge to participate in any of our R-Ladies communities around the world.</h3>
        <h3>Please join us at an upcoming <a href="https://www.meetup.com/{{ .Site.Params.Social.Meetup }}/events"> event</a> or have a look at our past <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>Contact us at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or on <a href="https://{{ .Site.Params.Social.Slack }}.slack.com/">Slack</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
