{{ define "main" }}
  {{ partial "header" . }}

<section id="about">
    <div class="container">
        <div class="avatar mb-5">
            <img class="rounded-circle" src="{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h2><strong>Welcome to {{ .Site.Params.author }}</strong></h2>
        <br>
        <h4> A local chapter of R-Ladies Global, R-Ladies Seattle exists to promote diversity in the R community, both in the US and worldwide. We are pro-actively inclusive of queer, trans, and all minority identities with additional sensitivity to intersectional identities (which many lead R-Ladies are). Our priority is to provide a safe community space for anyone identifying as a minority gender who is interested in R. As a founding principle, there is no cost or charge to participate in any of our R-Ladies communities around the world.</h4>
        <br>
        <h4>Please join us at an upcoming <a href="https://www.meetup.com/{{ .Site.Params.Social.Meetup }}/events"> event</a> or have a look at our past <a href="{{ .Site.BaseURL }}projects/"> talks</a>.</h4>
        <br>
        <h4>Many thanks to our sponsor, R Consortium.</h4>
        <br>
        <img src = "img/RConsortium_Horizontal_Pantone.png" align = "center" height = 50>
            </html>
            {{ partial "social.html" . }}
            <br>
            <span>Photo by <a href="https://unsplash.com/@timothyeberly?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Timothy Eberly</a> on <a href="https://unsplash.com/s/photos/seattle?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash.</a></span>
            </div>
</section>
{{ end }}
