<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $i, $el := .Site.Data.projects.source }}
        <h5>
          <a href={{ .link }}><i class="{{ .icon }}"></i></a>&nbsp;&nbsp;
          {{ .date }}<strong>&nbsp;{{ .title }}</strong>&nbsp;<i>{{ .speaker }}</i>&nbsp;&nbsp;<a href= {{ $el.description }}>Notes</a>
        </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section>
