{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <div class="container">
    <section id="projects">
      <h4 class="my-5">{{ .Site.Data.projects.name }}</h4>
      <div class="panel">
        <div class="panel-body">
            {{ range $i, $el := .Site.Data.projects.source }}
                    <h5>
                      <a href={{ .link }}><i class="{{ .icon }}"></i></a>&nbsp;&nbsp;
                      {{ .date }}<strong>&nbsp;{{ .title }}</strong>&nbsp;<i>{{ .speaker }}</i>&nbsp;&nbsp;<a href={{ $el.notes }}>Notes</a>
                    </h5>
                    <br>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
{{ end }}
